{% extends "_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
  <h3>{% trans "ثبت‌نام با اکانت اجتماعی" %}</h3>
  <p>
    {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
      شما در حال ورود با {{ provider_name }} به {{ site_name }} هستید. لطفاً فرم زیر را کامل کنید.
    {% endblocktrans %}
  </p>

  <form method="post" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}
        <div class="form-group mb-3">
            {{ form|crispy }}
        </div>
    {{ redirect_field }}
    <button class="btn btn-bd-primary" type="submit">{% trans "ثبت‌نام" %}</button>
  </form>
{% endblock %}
