# General Python ignores
__pycache__/


# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# Django specific
*.sqlite3
/media/
/staticfiles/

# Logs
logs/
*.log

# Editor/IDE
.vscode/
.idea/
*.swp
*~

# MacOS system files
.DS_Store
