# General Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Django specific
*.sqlite3
/media/
/staticfiles/
/static/

# Logs
logs/
*.log

# IDE/editor files
.vscode/
.idea/
*.swp
*~

# Git ignore itself
.gitignore
