{% extends '_base.html' %}
{% block header %}
    {{ form.media }} # Required for styling/js to make ckeditor5 work
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
  <form class="form form-control"  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" class="btn btn-dark mt-2" value="ذخیره" />
    <input class="btn btn-warning mt-2" type="reset" value="ریست" />
  </form>
{% endblock content %}