{% extends '_base.html' %}
{% load jalali_tags %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="card mb-4 shadow-sm">
            {% if detail.cover %}
                <img src="{{detail.cover.url}}" class="card-img-top-detail post-image" alt="...">
            {% endif %}
            <div class="card-body">
                <h3 class="card-title">{{detail.title}}</h3>
                <p class="card-text text-muted">نویسنده: <span>
                    {% if detail.author.first_name %}
                        {{ detail.author.get_full_name }}
                    {% else %}
                        {{ detail.author }}
                    {% endif %}
                </span></p>
                <p class="card-text text-muted">تاریخ انتشار: <span> {{ detail.created_at|to_jalali:'%Y/%m/%d _ %H:%M:%S' }} </span></p>

                {% if detail.author == user  %}
                    <div> 
                    <a href="{% url 'news_update' detail.pk %}" class="text-decoration-none me-2">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'news_delete' detail.pk %}" class="text-decoration-none">
                        <i class="text-danger fa fa-trash" aria-hidden="true"></i>
                    </a>
                    </div>
                {% endif %}
                <hr>
                <p class="card-text" style="text-align: justify;"> {{detail.text|safe|linebreaksbr}} </p>  
                <div class="d-flex justify-content-between">
                    <span class="text-muted">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <span class="text-primary"> {{comments_count}} </span>
                    </span>
                    <span class="text-muted">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span class="text-primary"> {{unique_views}} </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="card shadow-sm mb-3">
                <div class="card-body">
                    {% if comments %}
                        <h2 class="card-title">نظرات</h2>
                        {% for comment in comments  %}
                            <div class="border-bottom mb-3">
                                <h5 class="mb-3 text-primary">{{comment.user.username}} گفته :</h5>
                                <p class="text-justify"> {{comment.text}} </p>
                                <div class="d-flex justify-content-end">
                                    <span class="text-muted">
                                        <span class="text-muted">{{comment.datetime_created}}</span>
                                    </span>
                                </div>

                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-primary">هنوز هیچ نظری برای این خبر ارسال نشده است.</div>
                    {% endif %}
                    {% if user.is_authenticated  %}
                        <!-- فرم ارسال نظر -->
                        <div class="mt-4">
                            <h3>نظر خود را وارد کنید:</h3>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    {{form|crispy}}
                                </div>
                                <button type="submit" class="btn btn-primary">ارسال</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="alert alert-primary">لطفا برای پسندیدن و افزودن نظر ابتدا وارد شوید <span>|</span> <a class="text-decoration-none" href="{% url 'account_login' %}?next={% url 'news_detail' detail.pk %}">ورود</a></div>
                    {% endif %}
                </div>
            </div>
    </div>
</div>

{% endblock %}
