{% extends '_base.html' %}
{% load humanize %}
{% load jalali_tags %}

{% block content %}
     {% for item in list %}
        <ul class="list-group">
            <li class="list-group-item mb-4">
                <div class="row">
                    {% if item.cover %}
                        <div class="col-md-4">
                            <img src="{{ item.cover.url }}" class="img-fluid w-100" style="object-fit: cover; height: 150px;" alt="تصویر خبر">
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            <img src="default-image.jpg" class="img-fluid w-100" style="object-fit: cover; height: 150px;" alt="تصویر پیش فرض">
                        </div>
                    {% endif %}
                    <div class="col-md-8">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="text-muted mb-1"><span class="fa fa-user"></span>
                            نویسنده:
                           {% if item.author.first_name %}
                                {{ item.author.get_full_name }}
                            {% else %}
                                {{ item.author }}
                            {% endif %}
                        </p>
                        <p class="text-muted"><span class="fa fa-calendar"></span> تاریخ انتشار: {{ item.created_at|to_jalali:'%Y/%m/%d' }}</p>
                        <a href="{% url 'news_detail' item.pk %}" class="btn btn-primary">مشاهده خبر</a>
                    </div>
                </div>
            </li>
    </ul>
    {% endfor %}
    <div class="row mb-2">
        {% if list %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                  {% endif %}
                  {% for page in page_numbers %}
                      <li class="page-item {% if page == page_obj.number %}active{% endif %}" {% if page == page_obj.number %} aria-current="page" {% endif %}>
                        <a class="page-link" href="?page={{ page }}">{{page}}</a>
                      </li>
                  {% endfor %}
                  {% if page_obj.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                  {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock content %}