{% extends '_base.html' %}
{% load humanize %}
{% block content %}
<div class="row mb-2">
    {% for item in list %}
     <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-3 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">{{ item.author }}</strong>
          <a href="{% url 'post_detail' slug=item.slug %}" class="text-decoration-none"><h3 class="mb-0">{{ item.title|truncatewords:20 }}</h3></a>
          <div class="mb-1 text-body-secondary">
            <small><span class="text-muted">زمان ایجاد:</span></small>
            {{ item.created_at|naturaltime }}
            <small><span class="text-muted">توسط</span></small>
            {{ item.author }}
          </div>
          <div class="mb-1 ">
            <small><span class="text-muted">دسته بندی ها:</span></small>
            {% if item.categories.all.exists  %}
              {% for category  in item.categories.all %}
                <a href="{% url "category_post" category.name %}">
                  <span class="badge bg-success mb-2">{{category.name}}</span>
                </a>
              {% endfor %}
            {% else %}
              <span class="badge bg-secondary mb-2">فاقد دسته بندی</span>
            {% endif %}
          </div>
        </div>
        <div class="col-auto d-none d-lg-block">
          {% if item.cover %}
            <img class="" src="{{item.cover.url}}" alt="" width="192" height="268">
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>  

  {% endblock %}




