{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card mb-4 shadow-sm">
                <img src="{{ detail.cover.url }}" class="card-img-top post-image" alt="..." />
                <div class="card-body">
                    <h1 class="card-title">{{ detail.title }}</h1>
                    <p class="card-text text-muted">
                        نویسنده: <span>{{ detail.author }}</span>
                    </p>
                    <p class="card-text text-muted">
                        تاریخ: <span>{{ detail.created_at|date:'D- d M -Y' }}</span>
                    </p>
                    <hr />
                    <div style="text-align: justify;">
                        <p class="card-text">{{ detail.text|linebreaks }}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="text-muted">
                            تعداد لایک‌ها:
                            <span>123</span>
                        </span>
                        <span class="text-muted">تعداد کامنت‌ها: <span>45</span></span>
                    </div>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    {% if comments %}
                        <h2 class="card-title">نظرات</h2>
                        <!-- نظرات -->
                        {% for comment in comments %}
                            <div class="border-bottom mb-2">
                                <h5 class="mb-3 text-secondary">{{ comment.user.username }}</h5>
                                <p>{{ comment.text }}</p>
                                {% comment %} <span class="badge bg-success mb-2">توصیه می‌شود</span> {% endcomment %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <!-- فرم ارسال نظر -->
                    {% if user.is_authenticated %}
                        <div class="mt-4">
                            <h3>نظر خود را وارد کنید:</h3>
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3">{{ form|crispy }}</div>
                                <button type="submit" class="btn btn-primary">ارسال</button>
                            </form>
                        </div>
                    {% else %}
            </div>
            </div>
            <div class="alert alert-primary" role="alert">
                لطفا جهت ثبت نظر خود ابتدا وارد شوید
                <span>|</span>
                <a class="text-decoration-none" href="{% url 'login' %}">ورود</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}