{% extends '_base.html' %}
{% load humanize %}
{% block content %}
<div class="row mb-2">
    {% for item in list %}
     <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-3 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">{{ item.author }}</strong>
          <a href="{% url 'post_detail' slug=item.slug %}" class="text-decoration-none"><h3 class="mb-0">{{ item.title|truncatewords:20 }}</h3></a>
          <div class="mb-1 text-body-secondary">
            <small><span class="text-muted">زمان ایجاد:</span></small>
            {{ item.created_at|naturaltime }}
            <small><span class="text-muted">توسط</span></small>
            {{ item.author }}
          </div>
          <div style="text-align: justify;">
            <p class="card-text mb-auto ">{{ item.text|truncatewords:15 }}</p>
          </div>
          <div class="mb-1 ">
            <small><span class="text-muted">دسته بندی ها:</span></small>
            {% if item.categories.all.exists  %}
              {% for cat  in item.categories.all %}
                <a href=""><span class="badge bg-success mb-2">{{cat.name}}</span></a>
              {% endfor %}
            {% else %}
              <span class="badge bg-secondary mb-2">فاقد دسته بندی</span>
            {% endif %}
          </div>
        </div>
        <div class="col-auto d-none d-lg-block">
          {% if item.cover %}
            <img class="" src="{{item.cover.url}}" alt="" width="192" height="268">
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    {% if list %}
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
          {% endif %}  
          {% for page in page_numbers %}
            <li class="page-item {% if page == page_obj.number %}active{% endif %}" {% if page == page_obj.number %} aria-current="page" {% endif %}>
              <a class="page-link" href="?page={{ page }}">{{page}}</a>
            </li>
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}  
  </div>  

  {% endblock %}




