$.ajax({
  url: '/like/' + postId + '/',
  type: 'POST',
  data: {
    'csrfmiddlewaretoken': '{{ csrf_token }}'
  },
  success: function(response) {
    if (response.error) {
      alert("لطفاً ابتدا وارد حساب کاربری خود شوید.");
    } else {
      if (response.liked) {
        $("#like-icon").addClass("liked");
      } else {
        $("#like-icon").removeClass("liked");
      }
      $("#likes-count").text(response.likes_count);
    }
  },
  error: function(xhr, status, error) {
    alert("خطایی رخ داده است: " + error);
  },
  complete: function(xhr, status) {
    console.log("درخواست AJAX کامل شد.");
  }
});
