{% extends '_base.html' %}
{% load static %}
{% block seo %}{% endblock seo %}
 {% block title %}403 Forbidden{% endblock title %}
{% block style %}
{#    body{#}
{#        background-image: url("{% static 'images/403.png' %}");#}
{#        background-size: contain; /* یا contain */#}
{#        background-repeat: no-repeat;#}
{#        background-position: center;#}
{#    }#}
    .container {
      text-align: center;
    }
    .error-code {
      font-size: 80px;
      font-weight: bold;
      color: #e74c3c;
    }
    .message {
      font-size: 24px;
      margin-bottom: 30px;
    }
    .btn-primary {
      background-color: #3498db;
      border-color: #3498db;
    }
{% endblock style %}
{% block content %}
    <div class="container">
    <div class="error-code">
      <span>403</span>
    </div>
    <div class="message">
      <p>Forbidden: You don't have permission to access this page</p>
    </div>
    <a href="/" class="btn btn-primary">بازگشت به صفحه اصلی</a>
  </div>
{% endblock content %}

